<form method="POST" action="/new">
    <h2>Type in your message:</h2>
    <label for="messageText">Message</label>
    <input type="text" id="messageText" name="messageText">
    <label for="author">Author</label>
    <input type="text" id="author" name="author">
    <button type="submit">Submit</button>
</form>
