<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <h2>Type in your message:</h2>
            <form method="POST" action="/new">
                <label for="messageText">Message</label>
                <input type="text" id="messageText" name="messageText">
                <label for="author">Author</label>
                <input type="text" id="author" name="author">
                <button type="submit">Submit</button>
            </form>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
